*{
  margin:0;padding:0;
}

body{
  font-size: 1.2em;
  line-height: 1.5em;
  padding:10px;
}

h1{
  margin: 1em 0;
}

video{  
  width:640px;
  height:360px;
  position: relative;    
  background: #66CCFF;
}

#controlbar{
  
  line-height: 2em;
  font-size:14px;
  
  input[type=text]{
    width:90%;    
    max-width:640px;
    padding: 5px;
    font-size:100%;
  }

  input[name=time]{
    width:4em;
  }
  button{    
    font-size:0.8em;
    padding:5px; 
  }

  :last-child{
    margin-top:10px;
  }

  #time{
    display:inline-block;    
    text-align: center;        
  }
}